# Python
__pycache__/
*.pyc

# Django
db.sqlite3
db*.sqlite3
*.sqlite3
*.sqlite3-journal

# OS / Editor
.DS_Store
.vscode/
.idea/

# 一時ファイル・コピー
* copy.*
student.csv

# --- exam score export/import ---
data/export/
*.scores.json
examTFdata.json