table {
    width: 40%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.header {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #d6e6fc;
}

.adj-input {
    width: 70px;
    text-align: right;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 6px 14px;
    margin-right: 10px;
    font-size: 14px;
}